.DGenerator{
  font-weight: bold;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  color: rgb(14, 37, 71);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
}

#result {
  background-color: black;
  width:40%;
  border-radius: 30px;
  margin : 0 auto;
  font-size: 1em;
  color: rgb(14, 37, 71);
  font-weight: bold;
  word-break: break-all;
  padding: 5px;
}

.decisioncontainer {
  border: 1vw double DarkTurquoise	;
  width: 40%;
  background-color:white;
  margin: 10px auto;
  text-align: center;
}

.option {
  margin-top: 10px;
  width: 10em;
  height: 30px;
  font-size: 1.5em;
  font-weight: 200;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #2980B9;
}

@media screen and (max-width: 600px) {
  .option{
    width:80%;
  }
  .decisioncontainer{
    width: 80%;
  }
}
/* Get Button CSS From the Dystress.css */
input::placeholder {
  color: rgba(30, 30, 30, 0.5)
}

#choose-button, #reset-button, #add-button {
  font-family: "montserrat alternates" ,sans-serif;
  background-color: darkblue;
  background-image: linear-gradient(0.1turn,#2980B9,#6DD5FA,#FFFFFF);
  border-radius: 10px;
  color: black;
  padding: 10px 5px;
  margin:7px 0 ;
  border: 3px solid lightCyan;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 0 7px black;
}

#choose-button:hover, #reset-button:hover ,#add-button:hover {
  color: mediumblue;
  border: 3px solid mediumblue;
}
