html{
  scroll-behavior: smooth;
}

body{
  margin:0 ;
  padding:0;
  background-color: lightCyan;
  font-family:"montserrat alternates",sans-serif;
}

/*login Modal*/
.loginlogo{
  font-family:"montserrat alternates",sans-serif;
  margin-bottom:0;
  margin-top:12px;
  text-align: center;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
  font-size: 3.8em;
}

div#login input[type=text],div#login input[type=password] {
  color:royalblue;
  font-weight:bold;
  font-size: 1em;
  width: 100%;
  padding: 15px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 3px solid Navy;
  box-sizing: border-box;
}

.showPassword{
  color: white;
  float:left;
  font-size: 1.1em;
  font-family: "montserrat alternates" ,sans-serif;
}

.signuphref{
  text-decoration: none;
  font-size: 1.3em;
  display: block;
  color: lightCyan;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "montserrat alternates" ,sans-serif;
  background-color: darkblue;
  background-image: linear-gradient(0.45turn,#0B0930,#1A1A64,#2C2A89,#453AA4,#5C49C6);
  color: white;
  border: 2px solid Deepskyblue;
  width: 80%;
  padding: 10px 5px;
  font-weight: bolder;
}

button.submit{
  font-family: "montserrat alternates" ,sans-serif;
  background-color: darkblue;
  background-image: linear-gradient(0.45turn,#0B0930,#1A1A64,#2C2A89,#453AA4,#5C49C6);
  color: white;
  padding: 10px 5px;
  margin: 10px 0;
  border: 3px solid Deepskyblue;
  cursor: pointer;
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
}

button:hover , .signuphref:hover{
  color: cyan;
  border: 3px solid white;
}

.logocontainer{
  background-color:#c1e0ff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 0;
}

.loginlogocontainer {
  text-align: center;
  margin: 0 0 12px 0;
  position: relative;
}

.inputcontainer {
  padding: 0px 16px 18px 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal ContentBox */
.modal-content {
  background-color:black;
  background-image: url("../img/background.gif");
  background-repeat: repeat;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  border-radius: 8px;
  width: 320px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right:5px;
  top:-15px;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Logo */
.logo{
  float:none;
  margin: 0;
  text-align: center;
  font-family: "montserrat alternates" ,sans-serif;
  font-size: 3.6em;
  width: 100%;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
}

/* Navbar */
.topnav {
  display: block;
  overflow: hidden;
  background-color: LightCyan;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  transition: 0.2s;
  border-radius: 2px;
  z-index: 3;
  box-shadow: 0px 10px 10px -10px #111; /*box-shadow: none|horizontal-offset vertical-offset blur spread color |inset|initial|inherit;*/
}

.topnav a {
  text-transform: uppercase;
  font-family:"montserrat alternates",sans-serif;
  font-weight: 900;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 0;
  width:25%;
  text-decoration: none;
  font-size: 1.3em;
  cursor: pointer;
}

.topnav a:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.topnav .icon {
  display: none;
  color:lightslategrey;
}

@media screen and (max-width: 600px) {
  .topnav a{
    padding: 15px;
    width:auto;
  }
  .topnav a:not(.active) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Hero Home */
.hero-image{
  height:auto;
  width: 100%;
}

/* My Flip Cards */
/* This sets the columns to a minimum size of 320 pixels, and a maximum of the remaining space. The tracks will repeat as many times as needed to fit into the container.*/
.flipcards{
  font-family:"montserrat alternates",sans-serif;
	margin: 100px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
	grid-gap: 20px;
}

.flipcards .card{
  height: 100%;
	position: relative;
	width: 320px;
	margin: auto;
	background-color: #333;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 10px rgba(0,0,0,.5);
	overflow: hidden;
}

.flipcards .card .content
{
	z-index: 2;
	position: relative;
}

.flipcards .card .layer{
	position: absolute;
	top: calc(100% - 2px);
	left: 0;
	width: 100%;
	height: 100%;
  background: linear-gradient(to left bottom, #1a3add, #0076ff, #00a3ff, #00cbff, #63efff);
	z-index: 1;
	transition: .8s;
}

.flipcards .card:hover .layer{
	top: 0;
}

.flipcards .card .content p{
	font-size: 1.4em;
	line-height: 1.3em;
  letter-spacing: 1,2px;
  font-weight: bolder;
	color: white;
}

.flipcards .card .content .details h2{
  letter-spacing: 2px;
	font-size: 1.5em;
	color: white;
}

.flipcards .card .content .details h2 span{
	color: cyan;
	font-size: 1em;
	transition: .7s;
}

.flipcards .card:hover .content .details h2 span{
	color: white;
  transition: 0.1s;
}

.flipcards .card .content .fakebutton{
    text-align: center;
    display: block;
    position:relative;
    z-index: 1;
    padding: 10px 20px;
    margin: 10px 10px;
    text-decoration: none;
    border: 1px solid white;
    color:white;
    font-weight: 900;
    cursor: pointer;
}

.flipcards .card .content .fakebutton{
  cursor:pointer;
}

.flipcards .card .content .fakebutton:hover{
    color: black;
    font-size: 1.2em;
    transition:0.5s;
}

.flipcards .card .content .fakebutton:after{
  content: "";
  position: absolute;
  top: 1px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0);
  opacity: 0;
  transition: .5s;
  z-index:-1;
}
.flipcards .card .content .fakebutton:hover:after{
    transform: scale(1.5);
    opacity: 1;
}

/* Footer */
footer{
  font-size: 1em;
  overflow: hidden;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  position: absolute;
  width:100%;
  color:Navy;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  justify-content: space-around;
  align-items: baseline;
  flex-basis:auto;
}

@media screen and (max-width: 600px) {
  footer{
    flex-direction: column;
    padding-bottom:15px;
  }
}

.copyright{
  order: 1;
  letter-spacing: 0.1em;
  align-self: center;
  position: relative;
}

.copyright p{
  margin:10px;
}

.socialmedia{
  order: 2;
  font-size: 1.8em;
  align-self: center;
  position: relative;
  margin:10px;
}

.navbot{
  order: 3;
  list-style-type: none;
  align-self: center;
  position: relative;
}

.navbot a{
  text-decoration: none;
  color:navy;
  line-height: 1em;
  margin:10px;
}

.navbot a:hover{
  color: white;
  transition: 0.1s;
}

.fa2 {
  padding: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-facebook:hover{
  background: transparent;
  color:#3B5998;
  transition: 0.3s;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-youtube:hover{
  background: transparent;
  color:#bb0000;
  transition: 0.3s;
}

.fa-instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  color: white;
}

.fa-instagram:hover{
  background: transparent;
  color: #bc1888;
  transition: 0.3s;
}

/* About */
/* Video */
.vid_container{
  padding: 15px 0;
  display: block;
}

.vid_container h2{
  text-align: center;
  font-size: 1.5em;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
  font-weight: bolder;
}
.stress_vid{
  border:1.1vw double DarkTurquoise	;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 30vw;
}

@media screen and (max-width: 600px) {
  .stress_vid{
    border: none;
    display: block;
    width: 100%;
    height: 50vw;
  }
}

/* Story Time*/
.StoryTime{
  border: 1vw double DarkTurquoise	;
  width: auto;
  background-color:rgba(255, 255, 255, 0.7);
  margin: 15px 50px;
  text-align: center;
}

.logintext{
  cursor: pointer;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
}

.subheader{
  font-size: 2em;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
  font-weight: bolder;
}

.StoryTime p{
  font-size: 1.3em;
  color:midnightblue;
  font-weight: bold;
  margin: 0 15%;
}

.stress{
  font-size: 1.1em;
  color: rgb(14, 37, 74);
  font-weight: bold;
  text-shadow: -1px -1px 1px Cyan, 1px -1px 1px cyan,-1px 1px 1px cyan,1px 1px 1px cyan;
}

.aboutheader{
  border: 1vw double DarkTurquoise;
  background-color: black;
  width: 50%;
  margin: 10px auto;
  font-size: 2.3em;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
  font-weight: bolder;
}

.logintext{
  font-size: 1.2em;
}

.logintext:hover{
  text-decoration: underline;
}

.stress_learnmore{
  text-decoration: none;
  text-align: center;
  border: 1px solid darkblue;
  border-radius: 2em;
  background-color: lightcyan;
  color:black;
  width: 50%;
  font-size: 1em;
  transition: 0.4s;
  padding:5px;
  font-weight: bold;
}

.stress_learnmore:hover{
  background-color: black;
  color:white;
}

hr{
  border-top: 3px dotted darkblue;
}

/* Contact */
.contact{
  font-size:2em;
  text-align: center;
}

.contact_form{
  border: 1vw double DarkTurquoise;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
}

@media screen and (max-width: 600px) {
  .contact_form{
    width:100%;
    border: none;
  }
}

.contact_form form textarea{
  height:100px;
}

.contact_form form textarea,.contact_form form input{
  margin:10px 0;
  width:50%;
  color:midnightblue;
  font-weight:bold;
  font-size: 0.9em;
  padding: 15px 25px;
  border: 5px solid navy;
}

.contact_form form input[type="submit"]{
  background-color: black;
  border: none;
  color:white;
  border-radius: 30px;
  cursor:pointer;
  transition:0.5s;
}

.contact_form form input[type="submit"]:hover{
  background-color: lightCyan;
  color:black;
}

/* Thanks For signing up*/
.Thanks{
  overflow:auto;
  text-align: center;
  font-size: 6em;
  font-weight: bolder;
  color: rgb(14, 37, 74);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
}

/*Secret Text*/
.secret{
  visibility: hidden;
  font-size: 0.1em;
  margin:0;
  text-align: center;
}

/* Sign Up Form */
.signuppage{
  background: url('../img/Signup.png');
  background-size:cover;
  background-repeat:no-repeat;
}

.signupcontainer{
  max-width: 350px;
  border-radius: 20px;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  padding: 40px;
  margin: 50px auto;
}

form#signupform input[type=text], form#signupform input[type=password], form#signupform input[type=email]{
  color:royalblue;
  font-weight:bold;
  font-size: 1em;
  width: 100%;
  padding: 15px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 3px solid Navy;
  box-sizing: border-box;
  border-radius: 5px;
}

.signuplogo{
  margin:5px;
  text-align: center;
  color: rgb(14, 37, 70);
  text-shadow: -1.5px -1.5px 1px Cyan, 1.5px -1.5px 1px cyan,-1.5px 1.5px 1px cyan,1.5px 1.5px 1px cyan;
  font-size: 3.3em;
}

#warnmessage{
  color: cyan;
  font-size: 1em;
}

/* Function Page */
.functionlogo{
  margin-top: 35px;
}

.functionheader{
  font-size: 2.3em;
}

.functionstorytime{
  font-size: 0.9em;
}

/* Please Log In */
.please{
  width: 50%;
  margin: 5% auto;
  text-align: center;
  font-size: 3em;
}

@media screen and (max-width: 600px) {
  .please{
    width: 100%;
    margin:5% 0;
    font-size: 2.5em;
  }
}
